<form class="grid mt-3" [formGroup]="form">
    <!-- Ordem -->
    <app-input-order
        class="col-12 md:col-6"
        label="Ordem"
        [fieldControl]="$any(form.controls['orderBy'])"
        [orderControl]="$any(form.controls['desc'])"
        [options]="fornecedorService.cols"
    ></app-input-order>

    <!-- Status -->
    <app-input-dropdown
        class="col-12 md:col-6"
        label="Status"
        [control]="$any(form.controls['status'])"
        [options]="[
            { label: 'Ativo', value: 'A' },
            { label: 'Inativo', value: 'I' }
        ]"
    ></app-input-dropdown>

    <!-- Intervalo ID -->
    <app-input-number-range
        class="col-12 md:col-6"
        label="Intervalo ID"
        [minControl]="$any(form.controls['minId'])"
        [maxControl]="$any(form.controls['maxId'])"
    ></app-input-number-range>

    <!-- Tipo de Fornecedor -->
    <app-input-dropdown
        class="col-12 md:col-6"
        label="Tipo de Fornecedor"
        [control]="$any(form.controls['tipo'])"
        [options]="[
            { label: 'Pessoa Física', value: 'F' },
            { label: 'Pessoa Jurídica', value: 'J' }
        ]"
    ></app-input-dropdown>

    <!-- Razão Social -->
    <app-input-text
        class="col-12 md:col-6"
        label="Razão Social"
        [control]="$any(form.controls['razaoSocial'])"
    ></app-input-text>

    <!-- Fantasia -->
    <app-input-text
        class="col-12 md:col-6"
        label="Fantasia"
        *ngIf="!isPF"
        [control]="$any(form.controls['fantasia'])"
    ></app-input-text>

    <!-- CPF/CNPJ -->
    <app-input-cpf-cnpj
        class="col-12 md:col-6"
        [label]="isPF ? 'CPF' : 'CNPJ'"
        [isCnpj]="!isPF"
        [control]="$any(form.controls['cpfCnpj'])"
    ></app-input-cpf-cnpj>

    <!-- Celular -->
    <app-input-phone
        class="col-12 md:col-6"
        label="Celular"
        [control]="$any(form.controls['celular'])"
    ></app-input-phone>

    <!-- Email -->
    <app-input-text
        class="col-12 md:col-6"
        label="Email"
        [control]="$any(form.controls['email'])"
    ></app-input-text>

    <!-- Botão -->
    <div class="col-12">
        <button
            pButton
            class="w-full"
            label="Filtrar"
            (click)="onFilter()"
        ></button>
    </div>
</form>
