<app-form-wrapper>
    <form [formGroup]="form" (ngSubmit)="submit()" class="grid m-0">
        <!-- Cliente ID -->
        <app-input-select-data
            class="col-12 md:col-2"
            (onChoose)="onChooseCliente($event)"
            label="Cliente ID"
            [service]="clienteService"
            [control]="$any(form.controls['clienteId'])"
        ></app-input-select-data>
        <!-- Destxnome -->
        <app-input-text
            class="col-12 md:col-5"
            label="Razão Social"
            [control]="$any(form.controls['destxnome'])"
        ></app-input-text>
        <!-- CPF/CNPJ -->
        <app-input-cpf-cnpj
            class="col-12 md:col-5"
            label="CPF/CNPJ"
            [isCnpj]="form.controls['destcnpjcpf'].value?.length > 11 || false"
            [control]="$any(form.controls['destcnpjcpf'])"
        ></app-input-cpf-cnpj>

        <!-- Celular -->
        <app-input-phone
            class="col-12 md:col-6"
            label="Celular"
            [control]="$any(form.controls['enderemitfone'])"
        ></app-input-phone>
        <!-- Email -->
        <app-input-text
            class="col-12 md:col-6"
            label="Email"
            [control]="$any(form.controls['destemail'])"
        ></app-input-text>

        <!-- Indicador da IE -->
        <app-input-dropdown
            class="col-12 md:col-5"
            label="Indicador da IE"
            [control]="$any(form.controls['indiedest'])"
            [options]="[
                {
                    label: 'Contribuinte ICMS (informar a IE do destinatário)',
                    value: '1'
                },
                {
                    label: 'Contribuinte isento de Inscrição no cadastro de Contribuintes',
                    value: '2'
                },
                {
                    label: 'Não Contribuinte, que pode ou não possuir Inscrição Estadual no Cadastro de Contribuintes do ICMS',
                    value: '9'
                }
            ]"
        ></app-input-dropdown>
        <!-- Inscrição Estadual -->
        <app-input-number
            class="col-12 md:col-4"
            label="Inscrição Estadual"
            [control]="$any(form.controls['destie'])"
        ></app-input-number>
        <!-- Consumidor Final -->
        <app-input-boolean
            class="col-12 md:col-3"
            label="Consumidor Final"
            [control]="$any(form.controls['indfinal'])"
        ></app-input-boolean>

        <!-- Endereço ID -->
        <app-input-select-data
            class="col-12 md:col-2"
            (onChoose)="onChooseEndereco($event)"
            label="Endereço ID"
            [await]="true"
            [targetId]="targetId"
            [service]="clienteEnderecoService"
            [control]="$any(form.controls['enderecoId'])"
        ></app-input-select-data>
        <!-- Logradouro -->
        <app-input-text
            class="col-12 md:col-4"
            label="Logradouro"
            [control]="$any(form.controls['enderdestxlgr'])"
        ></app-input-text>
        <!-- Número -->
        <app-input-text
            class="col-12 md:col-3"
            label="Número"
            [control]="$any(form.controls['enderdestnro'])"
        ></app-input-text>
        <!-- Complemento -->
        <app-input-text
            class="col-12 md:col-3"
            label="Complemento"
            [control]="$any(form.controls['enderdestxcpl'])"
        ></app-input-text>

        <!-- Bairro -->
        <app-input-text
            class="col-12 md:col-4"
            label="Bairro"
            [control]="$any(form.controls['enderdestxbairro'])"
        ></app-input-text>
        <!-- Cidade -->
        <app-input-text
            class="col-12 md:col-4"
            label="Cidade"
            [control]="$any(form.controls['enderdestxmun'])"
        ></app-input-text>
        <!-- UF -->
        <app-input-text
            class="col-12 md:col-4"
            label="UF"
            [control]="$any(form.controls['enderdestuf'])"
        ></app-input-text>
        

        <!-- Button -->
        <div class="col-12 flex">
            <button
                pButton
                [loading]="loading"
                [disabled]="form.invalid || form.disabled"
                class="ml-auto"
                type="submit"
                label="Salvar"
            ></button>
        </div>
    </form>
</app-form-wrapper>
