<app-custom-table-wrapper
  [headerButtons]="headerButtons"
  title="Empresas"
  [pageTotal]="pageTotal"
  (onPagination)="onPagination($event)"
>
  <ng-container *ngIf="empresas$ | async as empresas; else loading">
    <app-custom-table-body
      [cols]="cols"
      [data]="empresas"
      (onSelection)="selectedEmpresa = $event"
      
      [chooseMode]="true"
      (onChoose)="onChoose($event)"
    ></app-custom-table-body>
  </ng-container>
  <ng-template #loading>
    <app-custom-table-skeleton [cols]="cols" [chooseMode]="true"></app-custom-table-skeleton>
  </ng-template>
</app-custom-table-wrapper>

<ng-template #headerButtons>
  <app-crud-buttonset
    [targetId]="selectedEmpresa?.id"
    message="Tem certeza que deseja excluir o produto selecionado?"
  ></app-crud-buttonset>
</ng-template>
