<!-- <ng-container *ngIf="empresas$ | async as empresas">
  <app-table
    title="Empresas"
    [cols]="cols"

    [data]="empresas"
    
    [showChooseButton]="true"
    (chooseEvent)="onChooseEvent($event)"
    (pageEvent)="onPageEvent($event)"
  ></app-table>
</ng-container> -->
<button
  pButton
  label="Entrar"
  (click)="
    onChooseEvent({
      id: 2,
      cnpj: '33089440000116',
      xrazaoSocial: 'Empresa Teste',
      xfant: 'Empresa Teste',
      xlgr: 'Praça da Sé',
      nro: '0',
      xcpl: 'lado par',
      xbairro: 'Sé',
      cmun: '3550308',
      xmun: 'São Paulo',
      uf: 'SP',
      cep: '01001001',
      fone: '11912341234',
      ie: '214326908047',
      crt: '1',
      token: '78bff7f3-5b6e-11ed-88ac-0200752e000a',
      banco: 'b33089440000116',
      status: 'A',
      grupoUsuario: 'Supervisor'
    })
  "
></button>
