<ng-container *ngIf="empresa$ | async as empresa; else skeleton">
  <div class="p-2 w-max mx-auto surface-ground border-round-xl">
    <span class="text-color font-bold opacity-70">{{ empresa }}</span>
  </div>
</ng-container>
<ng-template #skeleton>
  <div class="flex align-items-center gap-2 p-2 w-max mx-auto surface-ground border-round-xl">
    <p-skeleton class="w-5rem"></p-skeleton>
    <span class="text-color font-bold opacity-30"> | </span>
    <p-skeleton class="w-7rem"></p-skeleton>
  </div>
</ng-template>
