<p-table
    [value]="data.data"
    dataKey="id"
    selectionMode="single"
    [(selection)]="selectedData"
    (onRowUnselect)="selectEvent.emit(null)"
    (onRowSelect)="selectEvent.emit($event.data)"
    responsiveLayout="scroll"
    class="flex-1"
    styleClass="p-datatable-sm"
  >
    <ng-container *ngIf="title != ''">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-end align-items-center">
          <span class="text-3xl mr-auto font-bold text-color">{{ title }}</span>
          <ng-content></ng-content>
        </div>
      </ng-template>
    </ng-container>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{ col.header }}
        </th>
        <th *ngIf="showChooseButton"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of cols">
          {{
            col.pipe
              ? (rowData[col.field] | dynamic: col.pipe:col.pipeArgs || [])
              : rowData[col.field]
          }}
        </td>
        <td *ngIf="showChooseButton">
          <button
            pButton
            label="Selecionar"
            iconPos="right"
            icon="pi pi-angle-double-right"
            class="p-button-sm p-button-text"
            (click)="chooseEvent.emit(rowData)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div>
    <p-paginator
      (onPageChange)="pageEvent.emit($event)"
      [rows]="data.data.length"
      [totalRecords]="data.totalPages"
      [rowsPerPageOptions]="[10, 20, 30]"
    ></p-paginator>
  </div>
