<form class="grid mt-3" [formGroup]="form">
    <!-- Ordem -->
    <app-input-order
        class="col-12 md:col-6"
        label="Ordem"
        [fieldControl]="$any(form.controls['orderBy'])"
        [orderControl]="$any(form.controls['desc'])"
        [options]="vendedorService.cols"
    ></app-input-order>

    <!-- Status -->
    <app-input-dropdown
        class="col-12 md:col-6"
        label="Status"
        [control]="$any(form.controls['status'])"
        [options]="[
            { label: 'Ativo', value: 'A' },
            { label: 'Inativo', value: 'I' }
        ]"
    ></app-input-dropdown>

    <!-- Intervalo ID -->
    <app-input-number-range
        class="col-12 md:col-6"
        label="Intervalo ID"
        [minControl]="$any(form.controls['minId'])"
        [maxControl]="$any(form.controls['maxId'])"
        ></app-input-number-range>
        
    <!-- Nome -->
    <app-input-text
        class="col-12 md:col-6"
        label="Nome"
        [control]="$any(form.controls['nome'])"
    ></app-input-text>

    <!-- Apelido -->
    <app-input-text
        class="col-12 md:col-6"
        label="Apelido"
        [control]="$any(form.controls['apelido'])"
    ></app-input-text>
    
    <!-- CPF -->
    <app-input-cpf-cnpj
        class="col-12 md:col-6"
        label="CPF"
        [control]="$any(form.controls['cpf'])"
    ></app-input-cpf-cnpj>

    <!-- CNPJ -->
    <app-input-cpf-cnpj
        class="col-12 md:col-6"
        label="CNPJ"
        [isCnpj]="true"
        [control]="$any(form.controls['cnpj'])"
    ></app-input-cpf-cnpj>

    <!-- Celular -->
    <app-input-phone  
        class="col-12 md:col-6"
        label="Celular"
        [control]="$any(form.controls['celular'])"
    ></app-input-phone>

    <!-- Email -->
    <app-input-text
        class="col-12 md:col-6"
        label="Email"
        [control]="$any(form.controls['email'])"
    ></app-input-text>

    <!-- Botão -->
    <div class="col-12">
        <button
            pButton
            class="w-full"
            label="Filtrar"
            (click)="onFilter()"
        ></button>
    </div>
</form>
